.main-page{
    margin: 25px;
    display: block;
}



.formpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 95svh;
    border-radius: 10px;
    border: 2px solid #8D9797;
    backdrop-filter: blur(9px) saturate(155%);
    -webkit-backdrop-filter: blur(6px) saturate(155%);
    background-color: rgba(17, 25, 40, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.formpage-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 95svh;
    border-radius: 10px;
    border: 2px solid #8D9797;
    backdrop-filter: blur(9px) saturate(155%);
    /* -webkit-backdrop-filter: blur(6px) saturate(155%); */
    background-color: rgba(17, 25, 40, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.formpage-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 95svh;
    border-radius: 10px;
    border: 2px solid #8D9797;
    backdrop-filter: blur(9px) saturate(155%);
    /* -webkit-backdrop-filter: blur(8px) saturate(155%); */
    background-color: rgba(17, 25, 40, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.formpage-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 95svh;
    border-radius: 10px;
    border: 2px solid #8D9797;
    backdrop-filter: blur(9px) saturate(155%);
    /* -webkit-backdrop-filter: blur(8px) saturate(155%); */
    background-color: rgba(17, 25, 40, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.formpage-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 95svh;
    border-radius: 10px;
    border: 2px solid #8D9797;
    backdrop-filter: blur(9px) saturate(155%);
    /* -webkit-backdrop-filter: blur(8px) saturate(155%); */
    background-color: rgba(17, 25, 40, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

#firstform{
    display: block;
}
#secondform{
    display: none;
}

#thirdform{
    display: none;
}

#fourthform{
    display: none;
}

#submitform{
    display: none;
}



.welcome{
    font-size: 28px;
    font-weight: bold;
    background-image: linear-gradient(-90deg , #00C9FF 0%, #92FE9D 100%);
    -webkit-background-clip: text;
    /* -moz-background-clip: text; */
    -webkit-text-fill-color: transparent;
    /* -moz-text-fill-color: transparent; */
    text-align: center;
    position: relative;
    margin: 10px 0px;
    /* color: white; */
}

.eudname{
    font-size: 16px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formpage .input{
    font-family: 'Poppins', sans-serif;
    border: 1px solid #8D9797;
    outline: none;
    padding: 8px;
    height: 30px;
    width: 280px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0px 20px 0px 0px;
    background-color: transparent !important;
    color: white;
    border-color: rgba(255, 255, 255, 0.589);
}

/* input:-webkit-autofill{
    -webkit-text-fill-color: yellow !important;
} */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232300;
}

.formpage-1 .input{
    font-family: 'Poppins', sans-serif;
    border: 1px solid #8D9797;
    outline: none;
    padding: 8px;
    height: 30px;
    width: 280px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0px 20px 0px 0px;
    background-color: transparent;
    color: white;
    border-color: rgba(255, 255, 255, 0.589);
}

.formpage-2 .input{
    font-family: 'Poppins', sans-serif;
    border: 1px solid #8D9797;
    outline: none;
    padding: 8px;
    height: 30px;
    width: 280px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0px 20px 0px 0px;
    background-color: transparent;
    color: white;
    border-color: rgba(255, 255, 255, 0.589);
}

.formpage-3 .input{
    font-family: 'Poppins', sans-serif;
    border: 1px solid #8D9797;
    outline: none;
    padding: 8px;
    height: 30px;
    width: 280px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0px 20px 0px 0px;
    background-color: transparent;
    color: white;
    border-color: rgba(255, 255, 255, 0.589);
}

.inputnum{
    font-family: 'Poppins', sans-serif;
    border: 1px solid #8D9797;
    outline: none;
    padding: 8px;
    height: 30px;
    width: 280px;
    margin: 0px 20px 0px 0px;
    background-color: transparent;
    color: white;
    border-color: rgba(255, 255, 255, 0.589);
    /* -moz-appearance: textfield; */
    border-top: none;
    border-left: none;
    border-right: none;
}

.inputnum::-webkit-outer-spin-button,
.inputnum::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formpage .input::placeholder{
    color: #8D9797;
    font-family: 'Poppins', sans-serif;
}

.formpage-1 .input::placeholder{
    color: #8D9797;
    font-family: 'Poppins', sans-serif;
}

.formpage-2 .input::placeholder{
    color: #8D9797;
    font-family: 'Poppins', sans-serif;
}

.formpage-3 .input::placeholder{
    color: #8D9797;
    font-family: 'Poppins', sans-serif;
}



/* input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
} */
/* input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255);
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
  font-family: 'Poppins', sans-serif;

} */



.field{
    font-size: x-small;
    margin: 0px 0px 10px 0px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: white;
}

.checkfield{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: white;
    font-size: x-small;
}


.scrollable{
    height: 300px;
    scrollbar-base-color: transparent;
    overflow-y: auto;
    max-height: 300px;
}

.scrollable-2{
    height: 150px;
    scrollbar-base-color: transparent;
    overflow-y: auto;
}

.scrollable-3{
    
    scrollbar-base-color: transparent;
    overflow-y: auto;
}

.field-2{
    color: white;
    font-size: x-small;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 0px 0px 10px 0px;
}

.next{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 300px;
    padding: 8px;
}

.next-button{
    cursor: pointer;
    font-family: poppins;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
    border: 1px solid;
    backdrop-filter: blur(9px) saturate(155%);
    -webkit-backdrop-filter: blur(6px) saturate(155%);
    background-color: rgba(255, 255, 255, 0.555);
    border: 1px solid rgba(255, 255, 255, 0.562);
}

.preview ul{
    padding: 0px;
}


.preview  li{
    margin: 10px;
    padding: 0px;
    text-align: center;
    width: 80px;
    color: black;
    list-style: none;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(9px) saturate(155%);
    -webkit-backdrop-filter: blur(6px) saturate(155%);
    background-color: rgba(255, 255, 255, 0.534);
    border: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 5px;
}

  
input[type="checkbox"]:checked {
    background-color: rgba(255, 255, 255, 0.5);
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 6px;
    border: 1px solid white;
    border-radius: 5px;
    appearance: none;
    outline: none;
    transition: outline 0.1s;
    cursor: pointer;
    justify-content: center;
    border-color: #cecece;
}

  .lang{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
  }
  

.tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    color: white;
    font-size: x-small;
}

  
  .heading {
    font-weight: bold;
  }
  
  .scrollable {
    overflow-y: scroll;
    flex: 1;
  }
  .scrollable::-webkit-scrollbar {
    width: 3px;
  }
  .scrollable::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }

  .scrollable-2 {
    overflow-y: scroll;
    flex: 1;
  }
  .scrollable-2::-webkit-scrollbar {
    width: 3px;
  }
  .scrollable-2::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollable-2::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }
  
  .scrollable-3 {
    overflow-y: scroll;
    flex: 1;
  }
  .scrollable-3::-webkit-scrollbar {
    width: 3px;
  }
  .scrollable-3::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollable-3::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }

    textarea::-webkit-scrollbar {
        width: 3px;
    }

    textarea::-webkit-scrollbar-track {
        background-color: transparent;
    }

    textarea::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
    }

.preview-2 ul{
    list-style: none;
    align-items: center;
    justify-content: center;
}

.preview-2 li{
    margin: 10px;
    padding: 0px;
    text-align: center;
    width: 80px;
    color: black;
    list-style: none;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(9px) saturate(155%);
    -webkit-backdrop-filter: blur(6px) saturate(155%);
    background-color: rgba(255, 255, 255, 0.534);
    border: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 5px;
}

.preview-3 li{
    margin: 10px;
    padding: 0px;
    text-align: center;
    width: 80px;
    color: black;
    list-style: none;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(9px) saturate(155%);
    -webkit-backdrop-filter: blur(6px) saturate(155%);
    background-color: rgba(255, 255, 255, 0.534);
    border: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 5px;
}

.preview-3 ul{
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0px;
}


.field .textarea{
    font-family: poppins;
    max-lines: 3;
    color: white;
    background-color: transparent;
    border: 1px solid #8D9797;
    margin: 10px 0px;
    padding: 8px;
    outline: none;
    resize: vertical;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgba(255, 255, 255, 0.589);
    min-height: 100px;
    min-width: 300px;
    resize: none;
}



.previewnew{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    color: white;
    font-size: small;
    margin: 10px 0px;
    height: 30px;
}

.previewnew p{
    margin: 0px;
}

.preview-4 .wrap{
    /* max-width: 300px; */
    /* width: 100%; */
    /* overflow: scroll; */
    width:100%;
    overflow: hidden;
}

.ha{
    font-family: poppins;
    font-size: medium;  
    text-decoration: underline; 
}

.logo{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 0px;
    width: 30svh;
    border-radius: 10px;
}